_development
_site
_documentation
_pending
_unused
new
.DS_Store
.jekyll-cache
.jekyll-metadata
Gemfile.lock
bin
pending
SIGCSE.sublime-project
SIGCSE.sublime-workspace
**/*.mp4
about/reports/chair/*.docx