<h4 class="fst-italic">Upcoming SIGCSE Events</h4>
<ul class="list-unstyled">

  {% comment %}There is probably a better way to do this, but
  for now, here it is. Each conference has a next-conference
  entry that points to the upcoming conference. This code
  creates a collection of all upcoming conferences, that is the
  next one for each of our conferences. Then is sorts those
  upcoming conferences by start-date and displays them in the side
  bar.{% endcomment %}

  {% assign meta = "comped, symposia, iticse, icer, respect" | split: ", " %}
  {% assign collections = "" | split: ',' %}
  {% for name in meta %}
    {% assign conf = site.data.[name].next-conference | first %}
    {% assign collections = collections | push: conf %}
  {% endfor %}

  {% assign collections = collections | sort: 'start-date' %}
  {% for conf in collections %}
    <li>
      {% if conf.website %}
        <a class="d-flex flex-column flex-lg-row gap-2 align-items-start align-items-lg-center py-2 link-body-emphasis text-decoration-none border-top" href="{{conf.website}}">
      {% else %}
        <a class="d-flex flex-column flex-lg-row gap-2 align-items-start align-items-lg-center py-2 link-body-emphasis text-decoration-none border-top" href="#">
      {% endif %}
      <div class="col-lg-8">
        <h6 class="mb-0">{{conf.title}}</h6>
        <small class="text-body-secondary">
        {% if conf.dates -%}{{conf.dates}}<br />{% endif -%}
        {{conf.location}}</small>
      </div>
      </a>
    </li>
  {% endfor %}

    <li>
      <a class="d-flex flex-column flex-lg-row gap-2 align-items-start align-items-lg-center py-2 link-body-emphasis text-decoration-none border-top" href='{{"events/incoop.html"|absolute_url}}'>
        <div class="col-lg-8">
          <small class="text-body-secondary">
            Many conferences across the world are held
            <strong>in-cooperation with SIGCSE</strong>.</small>
        </div>
      </a>
    </li>
</ul>
