    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ACM SIGCSE</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href={{"/files/images/favicon.ico" | absolute_url}} type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href={{"/files/favicon/apple-icon-57x57.png" | absolute_url}}>
    <link rel="apple-touch-icon" sizes="60x60" href={{"/files/favicon/apple-icon-60x60.png" | absolute_url}}>
    <link rel="apple-touch-icon" sizes="72x72" href={{"/files/favicon/apple-icon-72x72.png" | absolute_url}}>
    <link rel="apple-touch-icon" sizes="76x76" href={{"/files/favicon/apple-icon-76x76.png" | absolute_url}}>
    <link rel="apple-touch-icon" sizes="114x114" href={{"/files/favicon/apple-icon-114x114.png" | absolute_url}}>
    <link rel="apple-touch-icon" sizes="120x120" href={{"/files/favicon/apple-icon-120x120.png" | absolute_url}}>
    <link rel="apple-touch-icon" sizes="144x144" href={{"/files/favicon/apple-icon-144x144.png" | absolute_url}}>
    <link rel="apple-touch-icon" sizes="152x152" href={{"/files/favicon/apple-icon-152x152.png" | absolute_url}}>
    <link rel="apple-touch-icon" sizes="180x180" href={{"/files/favicon/apple-icon-180x180.png" | absolute_url}}>
    <link rel="icon" type="image/png" sizes="192x192" href={{"/files/favicon/android-icon-192x192.png" | absolute_url}}>
    <link rel="icon" type="image/png" sizes="32x32" href={{"/files/favicon/favicon-32x32.png" | absolute_url}}>
    <link rel="icon" type="image/png" sizes="96x96" href={{"/files/favicon/favicon-96x96.png" | absolute_url}}>
    <link rel="icon" type="image/png" sizes="16x16" href={{"/files/favicon/favicon-16x16.png" | absolute_url}}>
    <link rel="manifest" href={{"/files/favicon/manifest.json" | absolute_url}}>


    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content={{"/files/favicon/ms-icon-144x144.png" | absolute_url}}>
    <meta name="theme-color" content="#ffffff">


    <!-- Bootstrap core CSS -->
    <link href={{ "assets/css/bootstrap.min.css" | absolute_url }} rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href={{ "assets/css/blog.css" | absolute_url }} rel="stylesheet">
