
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src='{{"/assets/js/bootstrap.bundle.min.js"|absolute_url}}'>
    </script>

    <!-- Placed at the end of the document so the pages load faster 
      Used https://www.srihash.org to generate integrity hash
    -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>

    <script>window.jQuery || document.write('<script src={{"/assets/js/vendor/jquery-3.7.1.slim.min.js"|absolute_url}}><\/script>')</script>

    <script src='{{"/assets/js/vendor/holder.min.js"|absolute_url}}'></script>
