<!doctype html>
<html lang="en">
  <head>
    {% include html-header.html %}
  </head>
  <body>

    <div class="container">
      {% include page-header.html %}
    </div>


    <main role="main" class="container mt-2">
      <div class="row">
        <div class="col-md-12 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title border-bottom">{{page.title}}</h2>
            {{content}}
          </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->
      </div><!-- /.row -->

    </main><!-- /.container -->

    {% include page-footer.html %}
    {% include bootstrap-core-js.html %}
  </body>
</html>
