<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ACM SIGCSE</title>

    {% include favicon.html %}
    {% include css.html %}

  </head>
  <body>


    <div class="container">
      {% include page-header.html %}

      <div class="card-group">
        {% for banner in site.data.banners %}
          <div class="card">
            <!-- 239 x 180 -->
            <img class="card-img-top" src="{{banner.image|absolute_url}}" alt="{{banner.imagealt}}">
            <div class="card-body">
              <h5 class="card-title">{{banner.title}}</h5>
              <p class="card-text">{{banner.byline}}<br>
                <small class="text-muted"><a href="{{banner.url}}">More...</a></small></p>
            </div>
          </div>
        {% endfor %}
      </div>

      <main role="main" class="container mt-2">
        <div class="row">
          <div class="col-md-8 blog-main">
            {{content}}
          </div><!-- /.blog-main -->

          {% include sidebar-home.html %}

        </div><!-- /.row -->
      </main>
    </div><!-- /.container -->

    <footer class="blog-footer">
      <p><small><i>Based on Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.&nbsp;•&nbsp;
      This site was last updated on {{ "now" | date: "%Y-%m-%d" }}.</i></small></p>

      <p><a href="#Top">Back to top</a></p>
    </footer>

    {% include javascript.html %}
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
      window.jQuery.htmlPrefilter = function( html ) {
        return html;
      };
    </script>
  </body>
</html>
