<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ACM SIGCSE</title>

    {% include favicon.html %}
    {% include css.html %}

  </head>
  <body>

    <div class="container">
      {% include page-header.html %}
      {% include breadcrumbs.html %} <!--capitalize=1-->
    </div>

    <main role="main" class="container mt-2">
      <div class="row">
        <div class="col-md-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title pt-2 border-bottom">{{page.title}}</h2>
            <p class="blog-post-meta">{{page.date | date: '%B %d, %Y' }}
               {% if page.author == true %}by {{page.author}}{% endif %}</p>
            {{content}}
          </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->

        {% include sidebar.html %}
      </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">
      <p><small><i>Based on Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.&nbsp;•&nbsp;
      This site was last updated on {{ "now" | date: "%Y-%m-%d" }}.</i></small></p>

      <p><a href="#Top">Back to top</a></p>
    </footer>

    {% include javascript.html %}
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
      window.jQuery.htmlPrefilter = function( html ) {
        return html;
      };
    </script>
  </body>
</html>
